extends layout

block content
  div(class = 'divTitle')
    h1(class='title')= title
  div(class='divDisplay')
    a(class ='aStyle',href='/contacts/add') Add a Contact

  if contacts.length > 0
      ul.contacts-list 
        each val in contacts 
          li(data-todoid=val.id) 
            //- a(href=`/contacts/${val.id}`)= val.text
            a(class = 'listTitle', href=`/contacts/${val.id}`) First name :  #{val.firstName}
            p Last name :  #{val.lastName}
            p Email:  #{val.email}

